@import "../modules/all";

.menu-wrapper {
    margin: 0px auto 0;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .fighter {
        position: relative;
        flex-basis: 125px;
        height: 84px;
        // flex-basis: 111px;
        // height: 75px;
        margin: 2.5px;
        transition: transform 0.5s;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            border: 5px solid $fighterHoverPortrait;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                border: 5px solid $fighterHoverPortrait;
                transform: rotate(45deg) translate(-4px, -1px);
                border-right: none;
            }

            &::after {
                position: absolute;
                content: "";
                right: 0;
                bottom: 0;
                width: 0;
                border: 5px solid $fighterHoverPortrait;
                transform: rotate(45deg) translate(4px, 1px);
                border-right: none;
            }

            &:hover {
                box-shadow: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-image: linear-gradient(to bottom right, $white, $black);
        }

        p {
            position: absolute;
            width: 100%;
            bottom: 0;
            cursor: default;
            text-align: center;
            margin: 0;
            @include fontFace;
            text-shadow: 0px 0px 1px $black,
                1px 1px 1px $black,
                2px 2px 1px $black,
                3px 3px 1px $black;

            &:hover {
                cursor: pointer;
            }
        }
    }

    [data-name='Captain Falcon'] p,
    [data-name='Pirahna Plant'] p {
        font-size: 1.1rem;
    }

    [data-name='Rosalina & Luna'] p,
    [data-name='Zero Suit Samus'] p {
        font-size: 1rem;
    }

    [data-name='Mr. Game & Watch'] p,
    [data-name='Pokemon Trainer'] p,
    [data-name='Mii Swordfighter'] p {
        font-size: 0.9rem;
    }

    [data-franchise='Super Mario Bros.'] img {
        background-image: linear-gradient(to bottom right, $marioRed, $marioYellow, $marioGreen, $marioBlue);
    }

    [data-franchise='Yoshi'] img {
        background-image: linear-gradient(to bottom right, $marioGreen, $white);
    }

    [data-franchise='WarioWare'] img {
        background-image: linear-gradient(to bottom right, $warioPurple, $warioPurple, $warioYellow);
    }

    [data-franchise='Donkey Kong'] img {
        background-image: linear-gradient(to bottom right, $dkRed, $dkLightOrange, $dkOrange);
    }

    [data-franchise='The Legend of Zelda'] img {
        background-image: linear-gradient(to bottom right, $zeldaForestGreen, $zeldaMidGreen, $zeldaLightGreen, $zeldaGold);
    }

    [data-franchise='Metroid'] img {
        background-image: linear-gradient(to bottom right, $metroidFair, $metroidOrange, $metroidRed, $metroidGreen);
    }

    [data-franchise='Kirby'] img {
        background-image: linear-gradient(to bottom right, $kirbyDarkPink, $kirbyNeutralPink, $kirbyPink);
    }

    [data-franchise='Star Fox'] img {
        background-image: linear-gradient(to bottom right, $starFoxDarkBlue, $starFoxLightBlue);
    }

    [data-franchise='Earthbound'] img {
        background-image: linear-gradient(to bottom right, $earthboundBrown, $earthboundRed, $earthboundGreen);
    }

    [data-franchise='F-Zero'] img {
        background-image: linear-gradient(to bottom right, $fZeroPurple, $starFoxDarkBlue);
    }

    [data-franchise='Pokemon'] img {
        background-image: linear-gradient(to bottom right, $pokemonRed, $pokemonYellow);
    }

    [data-franchise='Fire Emblem'] img {
        background-image: linear-gradient(to bottom right, $fireEmblemBlue, $fireEmblemRed);
    }

    [data-franchise='Kid Icarus'] img {
        background-image: linear-gradient(to bottom right, $kidIcarusGold, $kidIcarusBlack);
    }

    [data-franchise='Metal Gear Solid'] img {
        background-image: linear-gradient(to bottom right, $mgsDarkGreen, $mgsGreen, $mgsGrey, $mgsBlack);
    }

    [data-franchise='Sonic'] img {
        background-image: linear-gradient(to bottom right, $sonicBlue, $sonicYellow);
    }

    [data-franchise='Pikmin'] img {
        background-image: linear-gradient(to bottom right, $pikminPurple, $pikminWhite, $pikminBlue);
    }

    [data-franchise='Animal Crossing'] img {
        background-image: linear-gradient(to bottom right, $animalCrossingGreen, $animalCrossingWhite, $animalCrossingPink);
    }

    [data-franchise='Mega Man'] img {
        background-image: linear-gradient(to bottom right, $megamanDarkBlue, $megamanBlue, $megamanTeal, $megamanLightBlue);
    }

    [data-franchise='Punch-out'] img {
        background-image: linear-gradient(to bottom right, $punchOutGreen, $punchOutBlack);
    }

    [data-franchise='Pac-Man'] img {
        background-image: linear-gradient(to bottom right, $pacManYellow, $pacManBlack);
    }

    [data-franchise='Duck Hunt'] img {
        background-image: linear-gradient(to bottom right, $duckHuntBlue, $duckHuntLightBlue, $duckHuntGreen, $duckHuntBrown);
    }

    [data-franchise='Xenoblade Chronicles'] img {
        background-image: linear-gradient(to bottom right, $xenoRed, $xenoBlue, $xenoWhite);
    }

    [data-franchise='Street Fighter'] img {
        background-image: linear-gradient(to bottom right, $streetFighterRed, $streetFighterYellow, $streetFighterWhite);
    }

    [data-franchise='Final Fantasy'] img,
    [data-franchise='Bayonetta'] img {
        background-image: linear-gradient(to bottom right, $ffDarkBlue, $ffLightBlue);
    }

    [data-franchise='Splatoon'] img {
        background-image: linear-gradient(to bottom right, $splatoonBlue, $splatoonOrange);
    }

    [data-franchise='Castlevania'] img {
        background-image: linear-gradient(to bottom right, $castlevaniaRed, $castlevaniaBlue, $castlevaniaLightBlue);
    }

    [data-franchise='Persona 5'] img {
        background-image: linear-gradient(to bottom right, $personaRed, $black, $personaRed);
    }

    $x: 1;

    @while $x < 72 {

        @if ($x > 0 and $x <=12) or ($x > 23 and $x <=36) or ($x > 49 and $x <=64) {

            [data-id="#{$x}"],
            [data-id="4.1"],
            [data-id="25.1"],
            [data-id="28.1"],
            [data-id="60.1"] {
                transform: translateX(100vw);
            }
        }

        @else if ($x > 12 and $x <=23) or ($x > 36 and $x <=49) or ($x > 64) {

            [data-id="#{$x}"],
            [data-id="13.1"],
            [data-id="21.1"],
            [data-id="66.1"] {
                transform: translateX(-100vw);
            }
        }

        $x: $x+1;
    }
}