@import "../modules/all";

.modal-bg {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.modal {
    width: 50vw;
    height: auto;
    position: relative;
    top: 100px;
    left: 25vw;
    background-image: linear-gradient(to bottom right, $marioRed, $marioBlue);
    transform: scale(0);
    transition: all 0.3s ease;
    padding: 20px;
    border-radius: 15px;
    display: flex;

    .info,
    .video-logo {
        width: 50%;
        padding: 10px;
    }

    .info {
        h2 {
            text-align: center;
            @include fontFace;
            font-size: 3rem;
            line-height: 1;
        }

        p {
            @include fontFace;
            text-transform: none;
        }
    }

    .video-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        iframe {
            max-width: 100% !important;
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        flex: 1 1 100%;
        width: 100vw;
        left: 0;
        top: 0;

        .info,
        .video-logo {
            width: 100%;
        }
    }
}