@import "../modules/all";

.modal-bg {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
}

.modal {
    width: 50vw;
    height: 75vh;
    position: relative;
    top: 100px;
    left: 25vw;
    background: white;
    transform: scale(0);
    transition: all 0.3s ease;
}