@import '../modules/all';

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../../media/smashball-background.png');
    background-size: cover;

}

* {
    box-sizing: border-box;
}