@import "../modules/all";

.btn {
    height: 50%;
    align-self: center;
    cursor: pointer;
    width: auto;
    min-width: 200px;
    outline: none;
    background-image: linear-gradient(to right, $marioRed, $black);
    border: 2px solid $white;
    transform: skew(30deg, 0deg);
    @include fontFace;

    &>span {
        display: inline-block;
        transform: skew(-30deg, 0deg);
    }
}

.filter-franchise {
    align-self: center;
    height: 50%;

    &>.btn {
        height: 100%;
    }

    .franchise-dropdown {
        margin: 0;
        position: relative;
        z-index: 9999;
        background: $white;
        left: 11px;
        height: 0;
        padding: 0 0 0 10px;
        transition: height 0.3s ease;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        li {
            display: none;
            z-index: 9999;
            list-style: none;
            padding: 5px 0;
        }

        li:hover {
            cursor: pointer;
        }
    }
}