$white: #e7e7e7;
$black: #111111;
$fighterHoverPortrait: #B3ACB2;
// Mario Colors
$marioRed: #E52521;
$marioGreen: #43B047;
$marioYellow: #FBD000;
$marioBlue: #049CD8;
// Donkey Kong Colors
$dkLightOrange: #FFB855;
$dkOrange: #FF6800;
$dkRed: #B80000;
// Zelda Colors
$zeldaForestGreen: #0e5135;
$zeldaMidGreen: #0d9263;
$zeldaLightGreen: #4aba91;
$zeldaGold: #d4ce46;
// Metroid Colors
$metroidFair: #EDE084;
$metroidOrange: #F7A541;
$metroidRed: #E56542;
$metroidGreen: #90AC83;
// Kirby Colors
$kirbyDarkPink: #dd0459;
$kirbyNeutralPink: #fd99a7;
$kirbyPink: #eb6896;
// Star Fox Colors
$starFoxDarkBlue: #036AC9;
$starFoxLightBlue: #52B2E4;
// Earthbound Colors
$earthboundBrown: #ac917c;
$earthboundRed: #9e534e;
$earthboundGreen: #6d910d;
// F-Zero Colors
$fZeroPurple: #9088e2;
// Pokemon Colors
$pokemonRed: #FF0000;
$pokemonDarkRed: #CC0000;
$pokemonBlue: #3B4CCA;
$pokemonYellow: #FFDE00;
// Fire Emblem Colors
$fireEmblemBlue: #42528d;
$fireEmblemRed: #FF0000;
// Kid Icarus Colors
$kidIcarusBlack: #111111;
$kidIcarusGold: #d4ce46;
// Metal Gear Solid Colors
$mgsDarkGreen: #054500;
$mgsGreen: #2D542A;
$mgsGrey: #5A6959;
$mgsBlack: #2C2E2C;
// Sonic Colors
$sonicRed: #EF3B44;
$sonicYellow: #FCDD2A;
$sonicBlue: #0A68B0;
// Pikmin Colors
$pikminPurple: #551A8B;
$pikminWhite: #e7e7e7;
$pikminBlue: #002366;
// Animal Crossing Colors
$animalCrossingGreen: #7c908a;
$animalCrossingWhite: #cccccc;
$animalCrossingPink: #c5a5b8;
// Mega Man Colors
$megamanDarkBlue: #0F3369;
$megamanBlue: #2E5794;
$megamanTeal: #1B708A;
$megamanLightBlue: #65ACC2;
// Punch Out Colors
$punchOutGreen: #054500;
$punchOutBlack: #111111;
// Pac-man Colors
$pacManYellow: #FFFF00;
$pacManBlack: #111111;
// Duck Hunt Colors
$duckHuntBlue: #00009f;
$duckHuntLightBlue: #32b5fc;
$duckHuntGreen: #75cb0b;
$duckHuntBrown: #7e6500;
// Xenoblade Chronicles Colors
$xenoRed: #EF3B44;
$xenoBlue: #00009f;
$xenoWhite: #e7e7e7;
// Street Fighter Colors
$streetFighterRed: #DB322D;
$streetFighterYellow: #F0E03D;
$streetFighterWhite: #e7e7e7;
// Final Fantasy Colors
$ffDarkBlue: rgb(0, 50, 175);
$ffLightBlue: rgb(0, 200, 255);
// Splatoon Colors
$splatoonBlue: #0e10e6;
$splatoonOrange: #f78f2e;
// Castlevania Colors
$castlevaniaRed: #731603;
$castlevaniaBlue: #0D2967;
$castlevaniaLightBlue: #265DC0;
// WarioWare Colors
$warioPurple: #78226D;
$warioYellow: #FDD50B;